.indexP4{
    font-size: 14px;
    margin: 20px auto 15px;
}

 .indexH1{
        font-size: 85px;
        margin: 20px auto;
    }
@media (min-width:1600px){
    .indexH1{
        font-size: 80px;
    }
}
.indexP1, .indexP2, .indexP3{
    font-size: 20px;
}
.indexP4{
    font-size: 14px;
}
.indexP1{
    color: #FF9500;
}
.indexP2, .indexP4{
    color: #888888;
    max-width: 558px;
}
