.indexH1{  
    font-size: 95px;      
    margin: 25px auto;
        
    }
.indexP4{
    font-size: 14px;
    margin: 20px auto 35px;
}

   
@media screen and (max-width:1600px){
    .indexH1{
    font-size: 70px; 
    margin: 0 auto 25px; 
    
    }
}
.indexP1, .indexP2, .indexP3{
    font-size: 20px;
}
.indexP4{
    font-size: 14px;
    max-width: 500px;
}
.indexP1{
    color: #FF9500;
}
.indexP2, .indexP4{
    color: #888888;
    
}

.contenidoPrincipal{
    padding-top: 75px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins',Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width:1280px){
    .indexH1{
        font-size: 60px;
        margin: -10px auto 0;
        
    }

}

@media screen and (max-width:900px){
    .indexH1{
        font-size: 65px;
        margin: 10px auto 20px;
        
    }

}

@media screen and (max-width:600px){
    .indexH1{
        font-size: 50px;
        margin: -30px auto 20px;
        padding: 0 20px;
    }
    .indexP1{
font-size: 22px;
padding: 0 10px;
    }
    .indexP3{
        padding: 0 15px;
    }
    .indexP4{
        padding: 0 15px;
        text-align: justify;
    }
}

@media screen and (max-width:375px){
    .indexH1{
        font-size: 40px;
        margin: -30px auto 20px;
        padding: 0 20px;
    }
    .indexP1{
font-size: 18px;
padding: 0 20px;
    }
    .indexP3{
        font-size: 18px;
        padding: 0 20px;
    }
    .indexP4{
        padding: 0 20px;
        text-align: justify;
    }
}
