
.css-14yr603-MuiStepContent-root{
    border-left: 5px dotted #FF9500 !important;
}
.css-8t49rw-MuiStepConnector-line{
    border-color: #FF9500 !important;
    border-left-width: 5px !important;
    border-style: dotted;
    border-bottom: none;
}
.css-mpulit{
    text-align: start;
}
.frame{
    background-image: url('/assets/Group 161.png');
    background-size: cover;
    background-position: center center;
    border-radius: 20px 0 0 20px; /* Radio superior izquierdo e inferior izquierdo */

}