.img{
    max-width: 600px;
}
.img:first-child{
    margin-left: 5rem;
}
.img:last-child{
    margin-right: 5rem;
}
@media screen and (max-width:1366px){
.img{
    max-width: 400px;
}
.img:first-child{
    margin-left: 1.5rem;
}
.img:last-child{
    margin-right: 1.5rem;
}
}
@media screen and (max-width:900px){
    .img:last-child{
        display: none;
    }
}
.estrellas{
    width: 100px;
}
.calendario{
    width: 20px;
}
.caja{
    background-color: aquamarine;
}