.opcionRegistro-p{
    max-width: 180px;
    font-weight: 700;
}
.opcionRegistro-h2{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    margin: 20px auto 0;
}
.opcionRegistro-h3{
    color: #fff;
    font-weight: 500;
    font-size: 26px;
}
.opcionRegistro-p{
    font-size: 13px;
    margin-bottom: 20px ;
    font-weight: 700;
    text-align: justify;
}
.textosEmpl{
    padding-left: 25px;
    display: flex;
}

@media screen and (max-width:1700px){
    .opcionRegistro-p{
        font-size: 13px;
        max-width: 180px;
        font-weight: 700;
    }
    .opcionRegistro-h2{
        font-size: 25px;
    }
    .opcionRegistro-h3{
        font-size: 20px;
    }
}
@media screen and  (max-width:1400px){
    .opcionRegistro-h2{
        font-size: 17px;
    }
    .opcionRegistro-h3{
        font-size: 15px;
    }
    .opcionRegistro-p{
        font-size: 12px;
    }
    .imgTrabajador, .imgEmpleador{
        max-height: 190px;
    }
}
@media screen and (max-width:900px){
    .opcionRegistro-p{
        max-width: none;
        font-size: 15px;
        text-align: center;
    }
    .imgTrabajador, .imgEmpleador{
        max-height: 210px;
    }
    .imgTrabajador, .imgEmpleador{
        width: 100%;
    }
}

@media screen and (max-width:300px){
    .imgTrabajador, .imgEmpleador{
        width: 150px;
    }
}