.cont{
    display: flex;
    vertical-align: middle;
    padding: 24px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
@media (max-width:900px){
    .cont{
        height: auto;
        max-height: 100vh;
        width: 100%;
        padding: 0;
    }
    .loging{
        background-color: rgb(56, 65, 65);
    }
}
